## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [2]:
#  Import and read from google drive
from google.colab import drive
drive.mount('/content/drive')


#  Import and read the charity_data.csv.
application_df = pd.read_csv("/content/drive/MyDrive/Homework/Instructions/charity_data.csv")
application_df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [3]:
# Import and read the charity_data.csv
# application_df = pd.read_csv('Resources/charity_data.csv')
# application_df

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(["EIN","NAME"], axis=1, inplace=True)
application_df

      APPLICATION_TYPE       AFFILIATION  ...   ASK_AMT IS_SUCCESSFUL
0                  T10       Independent  ...      5000             1
1                   T3       Independent  ...    108590             1
2                   T5  CompanySponsored  ...      5000             0
3                   T3  CompanySponsored  ...      6692             1
4                   T3       Independent  ...    142590             1
...                ...               ...  ...       ...           ...
34294               T4       Independent  ...      5000             0
34295               T4  CompanySponsored  ...      5000             0
34296               T3  CompanySponsored  ...      5000             0
34297               T5       Independent  ...      5000             1
34298               T3       Independent  ...  36500179             0

[34299 rows x 10 columns]

In [5]:
application_df.isnull().sum()

APPLICATION_TYPE          0
AFFILIATION               0
CLASSIFICATION            0
USE_CASE                  0
ORGANIZATION              0
STATUS                    0
INCOME_AMT                0
SPECIAL_CONSIDERATIONS    0
ASK_AMT                   0
IS_SUCCESSFUL             0
dtype: int64

In [6]:
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [7]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Determine the number of unique values in each column.
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df["APPLICATION_TYPE"].value_counts().loc[lambda x : x < 500].index)
# print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x : x > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df["CLASSIFICATION"].value_counts().loc[lambda x : x < 1000].index)
# print(classifications_to_replace)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 44 columns]

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_dummies["IS_SUCCESSFUL"].values
X = application_dummies.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 50

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 50)                4050

 dense_2 (Dense)             (None, 1)                 51

=================================================================
Total params: 7,621
Trainable params: 7,621
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 [==============================] - 5s 4ms/step - loss: 0.5701 - accuracy: 0.7227
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5564 - accuracy: 0.7294
Epoch 3/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5525 - accuracy: 0.7316
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5504 - accuracy: 0.7325
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5499 - accuracy: 0.7335
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5489 - accuracy: 0.7334
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5481 - accuracy: 0.7329
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7347
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7346
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7346
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7346
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7352
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7343
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7362
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7359
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7364
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7369
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7363
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7369
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7370
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7371
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7387
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7383
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7383
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5421 - accuracy: 0.7377
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7379
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7381
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7385
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7392
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7386
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7382
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7383
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7392
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7379
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7386
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7383
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7388
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7392
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5394 - accuracy: 0.7399
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5391 - accuracy: 0.7399
Epoch 41/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5391 - accuracy: 0.7395
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5387 - accuracy: 0.7397
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5393 - accuracy: 0.7393
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7389
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7395
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7396
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7394
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7403
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7389
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7406

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5542 - accuracy: 0.7241 - 508ms/epoch - 2ms/step
Loss: 0.5542362928390503, Accuracy: 0.7240816354751587

In [21]:
# Export our model to HDF5 file

nn.save('AlphabetSoupCharity_Optimization.h5')